{% import "bootstrap/wtf.html" as wtf %}
{%- extends "layouts/master_layout.html" %}
{% block content %}

<div class="container">
    <div class="header" id="sticky">
    <div class="head">
        <h1>Simple Student Information System</h1>
      </div>
    <nav>
        <ol class="breadcrumb" style="padding-left:15px;"> 
            <li class="breadcrumb-item active" aria-current="page">
            <a href="{{bc}}">{{something}}</a></li>
        </ol>
    </nav>
    </div>
        <div class="row" id="contentform">
            <div class="col">
                {{ wtf.quick_form(form, url_for(geturl),"post") }}
            </div>
        </div>
        
</div>
{%- endblock %}