{%- extends "layouts/master_layout.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}
{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Users</li>
            </ol>
            <a href="/user">Student List</a>
            |
            <a href="/college">College List</a>
            |
            <a href="/course">Course List</a>
        </nav>
        <div class="row">
            <div class="col text-center">
                <span class="float-right"><a href="{{ url_for('.coursereg') }}" class="btn btn-primary">New </a></span>
            </div>

        </div>
        <div class="row mt-2">
            <table class="table">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>College</th>
	                <th></th>
                </tr>
	            </thead>
	            <tbody>
		        {% for course in data %}
		            <tr>
			            <td>{{course[0]}}</td>
			            <td>{{course[1]}}</td>
			            <td>{{course[2]}}</td>
                        <td>
                            <button class="btn btn-warning btn-edit" data-id="{{ course[0]}}">Edit</button> 
                            <button class="btn btn-danger btn-delete" data-id="{{ course[0]}}">Delete</button>
                        </td>
		            </tr>
		        {% endfor %}
	            </tbody>
            </table>
        </div>
    </div>
{%- endblock %}
{% block scripts%}
{{super()}}
<script>
    var url = "{{ url_for('.coursedel') }}";
    var urledit = "{{ url_for('.courseedit') }}";
</script>
<script src="{{ url_for('static',filename='js/index.js')}}"></script>
{% endblock %}