{%- extends "layouts/master_layout.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{super()}}
<style>
  .control-label {display: none;}
</style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="header" id="sticky">
        <div class="head">
            <h1>Simple Student Information System</h1>
          </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">{{something}}</li>
            </ol>
            <a href="/user" style="padding-left:15px;">Student List</a>
            |
            <a href="/college">College List</a>
            |
            <a href="/course">Course List</a>
        </nav>
        <div class="row align-items">
            <div class="col-sm-6 text-right">
                <span class="float-right"><a href="{{ url_for('.register') }}" class="btn btn-primary">New </a></span>
            </div>
            
                <form class="form" method="post" role="form" style="padding-right:20px;">
                    {{ form.hidden_tag() }}
                    <span style="width:70% !important;">{{ wtf.form_errors(form, hiddens="only") }}</span>
                
                    <div class="col-sm-4">{{ wtf.form_field(form.searchbar) }}</div>
                    <div class="col-sm-1"><input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit"></div>
                </form>
        </div>
        </div>
        <div class="row mt-2" id="content">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
	                <th>Course</th>
	                <th>Year</th>
	                <th>Gender</th>
                    <th>Image</th>
	                <th></th>
                </tr>
	            </thead>
	            <tbody>
		        {% for user in data %}
		            <tr>
			            <td>{{user[0]}}</td>
			            <td>{{user[1]}}</td>
			            <td>{{user[2]}}</td>
			            <td>{{user[3]}}</td>
			            <td>{{user[4]}}</td>
			            <td>{{user[5]}}</td>
			            <td style="width:200px;height:200px;"><img src="{{user[6]}}" style="object-fit:fill;height:100%;width:100%;"></td>
                        <td>
                            <button class="btn btn-warning btn-edit" data-id="{{ user[0]}}">Edit</button> 
                            <button class="btn btn-danger btn-delete" data-id="{{ user[0]}}">Delete</button>
                        </td>
		            </tr>
		        {% endfor %}
	            </tbody>
            </table>
        </div>
    </div>
{%- endblock %}
{% block scripts%}
{{super()}}
<script>
    var url = "{{ url_for('.delete') }}";
    var urledit = "{{ url_for('.editroute') }}";
</script>
<script src="{{ url_for('static',filename='js/index.js')}}"></script>
{% endblock %}