{% import "bootstrap/wtf.html" as wtf %}
{%- extends "layouts/master_layout.html" %}
{% block content %}


<div class="container">
    <div class="header" id="sticky">
    <div class="head">
        <h1>Simple Student Information System</h1>
      </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" >
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{{ url_for('.index') }}">{{something}}</a>
                </li>
            </ol>
        </nav>
    </div>
        <div class="row" id="contentform">
            <div class="col">
                <form class="form" method="post" role="form" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, hiddens="only") }}
                
                    {{ wtf.form_field(form.upload) }}
                    {{ wtf.form_field(form.id) }}
                    {{ wtf.form_field(form.firstname) }}
                    {{ wtf.form_field(form.lastname) }}
                    {{ wtf.form_field(form.course) }}
                    {{ wtf.form_field(form.year) }}
                    <label>Gender </label>
                    {{ wtf.form_field(form.gender) }}
                    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit">
                </form>
            </div>
        </div>
</div>
{%- endblock %}
